<!DOCTYPE html>
<html lang="en"> 

    <head>
        <title>F1 Souvenir Shop</title>
        <meta name="keywords" content="F1, Formula 1, authentic, souvenir, sport, motor-sport"><!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->  

        <%- include("../fragments/head.ejs") %>
        <link rel="stylesheet" href="./resurse/styles/video.css" type="text/css"> 

    </head>

    <body>

        <video playsinline autoplay muted loop poster="polina.jpg" id="bgvid">
            <source src="/resurse/clips/This_is_Formula_One.mp4" type="video/webm">
            
        </video>

        <%- include("../fragments/header.ejs") %>
        

        <main>
            <p id="banner">Acesta este un proiect scolar. <span id="mesaj-cookies">Acceptati cookie-urile de pe site? <button id="ok_cookies">Ok</button></span></p>


            <!-- <div class="duotone-image"></div> -->

            <div id="page-grid">
                <div id="intro">
                    <div id="container-intro">
                        <div id="text">
                            Intro
                            <div id="text-reflectat">Intro</div>
                        </div>
                        <div>
                            <!-- <button id = "tema" class="btn btn-primary"> <i class="fa-solid fa-sun"></i> <i class="fa-solid fa-moon"></i> Dark theme</button> -->
                        </div>
                    </div>
                    <p>
                        <!-- <button class="btn btn-primary">ceva</button> -->
                        Introducing our <b>authentic</b> <b>Formula 1</b> <b>Souvenir Shop</b> - the ultimate destination for <b>sport</b> enthusiasts and <b>motor-sport</b> fans alike. 
                        Browse our collection of unique souvenirs and immerse yourself in the world of <a href="https://www.formula1.com/" target="_blank">Formula 1</a>
                        <img id="intro_picture" src="./resurse/imagini/intr_formula1.jpeg" style="float: left; margin-right: 10px" alt="imagine formula1 intro" title="Formula1 2023">
                        <br><br>
                        <hr class="custom-hr">
                        Whether you are a die-hard fan or simply looking for a special gift for a friend or loved one, our collection of souvenirs has something for everyone. From team apparel and accessories to collectible memorabilia, our products showcase the excitement and passion of the world's premier motor-sport. Immerse yourself in the thrill of the race and show your support for your favorite team with our high-quality products. Shop now and experience the ultimate destination for Formula 1 enthusiasts.
                    </p>
                </div>
                <div id="table_zona2">
                    <h2>Table</h2>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum maxime velit similique iste voluptas laboriosam provident odit, veritatis, sapiente consequuntur dignissimos iure corporis animi libero alias amet quis aspernatur ad.
                    </p>
                </div>
                <div id="event_calendar">
                    <h2>Event Calendar</h2>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat facilis enim ab, exercitationem suscipit, et, corrupti aliquid fugiat libero earum officiis! Nulla numquam eos reiciendis similique molestiae tempora nobis. Quo.
                    </p>
                </div>
                <div id="announcements">
                    <h2>Announcements</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque deserunt architecto obcaecati at, cum alias molestias esse ex reiciendis reprehenderit, placeat voluptates! Magnam illo, ad iusto doloremque quo molestiae odio.
                    </p>
                </div>
                <div id="online_users">
                    <h2>Online Users</h2>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. At asperiores deserunt nihil optio. Delectus sint facilis dolorem officiis pariatur dolorum fugit, tempora voluptate veniam non ut, nostrum minima eius! Dolor!
                    </p>
                </div>
                <div id="user_data">
                    <h2>User Data and Statistics</h2>
                    <p>Your IP address is: <%= ip %></p>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum, distinctio? Accusamus illo neque quae sequi ipsam, non, fugiat vero quaerat quis quidem voluptas quasi illum id sit tenetur culpa nihil.
                    </p>
                </div>
                <div id="general_info">
                    <h2>Site and Server information</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae, aut ab modi illum voluptatem ipsum asperiores consequuntur, excepturi quo aspernatur odit culpa, veritatis ex rerum delectus eveniet laudantium ducimus beatae?
                    </p>
                </div>
                <div id="nesting">
                <div class="iframe" style="float: left; margin-right: 10px">
                    
                    <div class="iframe-tabs">
                        <div class="iframe-tab"><a href="https://www.youtube.com/embed/ldHzUGI5uVs" style="margin-right: 15px" target="ifr-video">Meet the 2023 Formula 1 Driver Lineup</a></div>
                        <div class="iframe-tab"><a href="https://www.youtube.com/embed/y_YiiB7PVk4" target="ifr-video">Meet the future drivers of Formula 1</a></div>
                    </div>
        
                    <div id="iframe-box"><iframe name="ifr-video" style="float: left; " width="560" height="315" src="https://www.youtube.com/embed/ldHzUGI5uVs" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
        
                </div>
                <p id="ifr-paragraph">
                    Discover the faces behind the helmets and learn about the drivers who will be battling it out on the track in the upcoming Formula 1 season. Our Meet the 2023 Formula 1 Driver Lineup video gives you an in-depth look at the talented athletes who will be putting their skills to the test. And for a sneak peek at the next generation of champions, don't miss our feature on the Formula 2 grid.
                </p>
                </div>
            </div>
            
            <!-- <section id="teams">
                <h2>Filter by Team</h2>
                <p >
                    Discover your favorite team's merchandise with our team filter! Easily filter and browse authentic Formula 1 souvenirs by team, 
                    including exclusive items you won't find anywhere else. Show your support and share the adrenaline with your favorite team.
                </p>
                <p>
                    Uncover additional filtering options from the dropdown menus. Refine your search by choosing to view 
                    souvenirs featuring your favorite drivers or car designs, allowing you to fully immerse yourself in the world of motor-sport.
                </p>
                
            </section>
            <section id="games">
                <h2>Filter by Games</h2>
                <p>
                    Experience the excitement of Formula 1 in a whole new way with EA F1 Games. 
                    Easily browse and select from our collection of EA Sports F1 Series games.
                </p>
                
            </section> -->

            <div class="table-container">
                <table id="table">
                  <caption id="table-caption">Most Popular Items</caption>
                  <thead>
                    <tr>
                      <th scope="col">Category</th>
                      <th scope="col">January</th>
                      <th scope="col">February</th>
                      <th scope="col">March</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td rowspan="2">Racewear - suits and helmets</td>
                      <td>Max Verstappen 2022 Helmet</td>
                      <td>Sebastian Vettel 2022 Helmet</td>
                      <td>Carlos Sainz 2023 Helmet</td>
                    </tr>
                    <tr>
                      <td colspan="2">Sebastian Vettel Signed 2022 Racing Suit</td>
                      <td>Mick Schumacher 2022 Racing Suit</td>
                    </tr>
                    <tr>
                      <td>Team Merchandise</td>
                      <td>Aston Martin Official Team Polo</td>
                      <td>Red Bull Official Cap</td>
                      <td>Ferrari Official Team Shirt</td>
                    </tr>
                    <tr>
                      <td>Art</td>
                      <td>Max Verstappen Monaco GP 2021 Win</td>
                      <td>Sebastian Vettel 2022 Farewell</td>
                      <td>Lewis Hamilton Brazilian GP 2021 Win</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="4">Get These High-demand items while they are still in stock</td>
                    </tr>
                  </tfoot>
                </table>
            </div>
            <!-- <script type="text/javascript" src=/resurse/js/vtt.js></script>
            <video poster="/resurse/imagini/poster.jpg" video="" preload>
                <source src="./resurse/clips/This_is_Formula_One.mp4">
                <source src="video.webm">
                <track src="subtitles-ro.vtt" kind="subtitles" srclang="ro" default>
                <track src="subtitles-en.vtt" kind="subtitles" srclang="en">
            </video>
            <button id="play-button">Play</button> -->

            <div id="picture-grid">
                <% //let i = 0;
                    for (let imag of locals.imagini) { //i += 1;
                        // if(i % 2 != 0){
                    %>
                    
                       <figure class="grid-item">
                           <picture>
                               <source srcset="<%- imag.fisier_mediu %>" media="(max-width:1000px)" />
                               <img src="<%- imag.file_path %>" alt="imagine">
                           </picture>
                           <figcaption><%- imag.description %></figcaption>
                       </figure>
               <% } %>
                   
            </div>
              
            <div id="galerie2" class="galerie">
                <div class="grid_2col">
                    <% for (let imag of locals.imagini) { 
                        %>
                        <figure>
                            <picture>
                                <source srcset="<%- imag.fisier_mediu %>" media="(max-width:1000px)" />
                                <img src="<%- imag.file_path %>" alt="imagine">
                            </picture>
                            <figcaption><%- imag.description %></figcaption>
                        </figure>
                     <% }  %>
                </div>
            </div>

        </main>

        <%- include("../fragments/footer.ejs") %>

    </body>

</html>