<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Cofetaria Dulcelind ofera prajituri, torturi, produse de patiserie cu optiunea de achizitie online si livrare prin curier.">
        <meta name="keywords" content="cofetarie, Dulcelind, prajituri, torturi, dulce, pateuri, produse">
        <link rel="stylesheet" href="/resurse/styles/produse.css" type="text/css" />
        <title>Cofetăria Dulcelind - home</title>
        <%- include("../fragments/head") %>     
        <script type="text/javascript" src=/resurse/js/produse.js></script>

    </head>
    <body>
    <%- include("../fragments/header") %>

    <main>
        <div class = "row row-cols-3 g-2 custom-gutter">
        <label class="col"> Name: <input type="text" id="inp-nume" placeholder="Enter a product name"></label>
        <!--<label> Maxim calorii: <input type="number" id="inp-calorii" value="10000"></label>-->
        <div class="col"> Manufacturing year:<!-- trebuie sa aiba acelasi name ca sa formeze un grup -->
            <p class="tab"><label><input id="i_rad1"  name="gr_rad" value="0:350" type="radio"/>Year &lt; 1990
            </label></p>
            <p class="tab"><label><input id="i_rad2"  name="gr_rad" value="350:750" type="radio"/>1990 &le; Year &lt; 2010
            </label>
            <p class="tab"><label><input id="i_rad3" name="gr_rad" value="700:1000000000" type="radio"/>2010 &le; Year
            </label>
            <p class="tab"><label><input id="i_rad4" checked name="gr_rad" value="toate" type="radio"/>All
            </label>
        </div>

        <div class="checkbox-teams" class="col"> Teams:
             <!--how can i make these inputs be displayed on rows and five of them on each one  -->
            <div class="row row-cols-5">
            <label><input class="team_check col" id="Mercedes" name="gr_team_check" type="checkbox"  checked> Mercedes</label>
            <label><input class="team_check col" id="Red Bull" name="gr_team_check" type="checkbox"  checked> Red Bull</label>
            <label><input class="team_check col" id="Ferrari" name="gr_team_check" type="checkbox"  checked> Ferrari</label>
            <label><input class="team_check col" id="McLaren" name="gr_team_check" type="checkbox"  checked> McLaren</label>
            <label><input class="team_check col" id="Alpine" name="gr_team_check" type="checkbox"  checked> Alpine</label>
            </div>
            <div class="row row-cols-5">
            <label><input class="team_check col" id="Alpha Tauri" name="gr_team_check" type="checkbox"  checked> Alpha Tauri</label>
            <label><input class="team_check col" id="Haas" name="gr_team_check" type="checkbox"  checked> Haas</label>
            <label><input class="team_check col" id="Williams" name="gr_team_check" type="checkbox"  checked> Williams</label>
            <label><input class="team_check col" id="Aston Martin" name="gr_team_check" type="checkbox"  checked> Aston Martin</label>
            <label><input class="team_check col" id="Alfa Romeo" name="gr_team_check" type="checkbox"  checked> Alfa Romeo</label>
            </div>
        </div>
        </div>

        <div class="checkbox-drivers"> Drivers:
            <div class="row row-cols-10">
            <label><input class="driver_check col" id="Max Verstappen" name="gr_driver_check" type="checkbox"  checked> Max Verstappen</label>
            <label><input class="driver_check col" id="Sergio Perez" name="gr_driver_check" type="checkbox"  checked> Sergio Perez</label>
            <label><input class="driver_check col" id="Lewis Hamilton" name="gr_driver_check" type="checkbox"  checked> Lewis Hamilton</label>
            <label><input class="driver_check col" id="George Russel" name="gr_driver_check" type="checkbox"  checked> George Russel</label>
            <label><input class="driver_check col" id="Carlos Sainz" name="gr_driver_check" type="checkbox"  checked> Carlos Sainz</label>
            <label><input class="driver_check col" id="Charles Leclerc" name="gr_driver_check" type="checkbox"  checked> Charles Leclerc</label>
            <label><input class="driver_check col" id="Lando Norris" name="gr_driver_check" type="checkbox"  checked> Lando Norris</label>
            <label><input class="driver_check col" id="Oscar Piastri" name="gr_driver_check" type="checkbox"  checked> Oscar Piastri</label>
            <label><input class="driver_check col" id="Esteban Ocon" name="gr_driver_check" type="checkbox"  checked> Esteban Ocon</label>
            <label><input class="driver_check col" id="Pierre Gasly" name="gr_driver_check" type="checkbox"  checked> Pierre Gasly</label>
            <label><input class="driver_check col" id="Yuki Tsunoda" name="gr_driver_check" type="checkbox"  checked> Yuki Tsunoda</label>
            </div>
            <div class="row row-cols-10">
            <label><input class="driver_check col" id="Nick DeVries" name="gr_driver_check" type="checkbox"  checked> Nick DeVries</label>
            <label><input class="driver_check col" id="Kevin Magnussen" name="gr_driver_check" type="checkbox"  checked> Kevin Magnussen</label>
            <label><input class="driver_check col" id="Nico Hulkenberg" name="gr_driver_check" type="checkbox"  checked> Nico Hulkenberg</label>
            <label><input class="driver_check col" id="Alex ALbon" name="gr_driver_check" type="checkbox"  checked> Alex ALbon</label>
            <label><input class="driver_check col" id="Logan Sargeant" name="gr_driver_check" type="checkbox"  checked> Logan Sargeant</label>
            <label><input class="driver_check col" id="Fernando Alonso" name="gr_driver_check" type="checkbox"  checked> Fernando Alonso</label>
            <label><input class="driver_check col" id="Lance Stroll" name="gr_driver_check" type="checkbox"  checked> Lance Stroll</label>
            <label><input class="driver_check col" id="Valtteri Bottas" name="gr_driver_check" type="checkbox"  checked> Valtteri Bottas</label>
            <label><input class="driver_check col" id="Guanyu Zhou" name="gr_driver_check" type="checkbox"  checked> Guanyu Zhou</label>
            </div>
        </div>

        <!-- <label> Maximum Price: <div class="range-slider">
            <input type="range" id="inp-pret" value="30000" min="0"  max="30000"> <span id="infoRange">(0)</span>
            <div class="slider-thumb">
                <div class="tooltip"></div>
            </div>
            <div class="progress"></div>
        </div> -->
        <label> Maximum Price: 
            <input type="range" id="inp-pret" value="30000" min="0"  max="30000" oninput="this.nextElementSibling.value = this.value">
        <output>30000</output>
        </label>
        <label>Select product category:
            <select id="inp-categorie">
                <option id="sel-toate" selected value="toate">All</option>
                <% for (let opt of locals.optiuni) { %>
                    <option value="<%- opt.unnest %>"><%- opt.unnest %> </option>
                <% } %>
            </select>
        </label>
        <p>
            <div class="btn-group-toggle" data-toggle="buttons">
                <button id="filtrare" >Filter <i class="bi bi-funnel-fill"></i></button> 

                <button id="resetare">Reset Filter <i class="bi bi-x-circle-fill"></i> </button><br/>
                <button id="sortCrescNume">Ascending for price and name <i class="bi bi-sort-down-alt"></i></button>
                <button id="sortDescrescNume">Descending for price and name <i class="bi bi-sort-down"></i></button>
            </div>
        </p>
        
        <p id="p-suma">Press Alt+"c" for the sum of the products. </p>
        <section id="produse">
            <h2>Produse</h2>
            <div class="grid-produse">
                <% for( let prod of locals.produse) { %>
                    <article class="produs" >
                        <h3 class="nume"><a href="/produs/<%-prod.id %>" ><span class="val-nume"><%- prod.nume%></span></a></h3>
                        <div id="img-prod">
                        <figure>
                            <a href="/produs/<%-prod.id %>" ><img src="/resurse/imagini/produse/<%- prod.imagine %>" style="width:50%;height:auto;" alt="[imagine <%- prod.nume %>]" /></a>
                        </figure>
                        </div>
                        <div class="info-prod">
                            <p class="pret">Price: <span class="val-pret"><%- prod.pret%></span></p>
                            <p class="sofer">Driver: <span class="val-sofer"><%- prod.driver%></span></p>
                            <p class="echipa">Team: <span class="val-echipa"><%- prod.team%></span></p>

                        
                        <p class="categorie">Manufacturing Year: <span class="val-an"><%- prod.an_fabricatie%></span></p>
                        <p class="categorie">Category: <span class="val-categorie"><%- prod.categorie%></span></p>
                    </div>
                        <label class="selecteaza-cos">
                            Add to cart <i class="bi bi-cart2"></i><br/>
                            <input type="checkbox"  class="select-cos" value="<%-prod.id %>" autocomplete="off">
                        </label>
                    </article>
                <% }%>
            </div>
        </section>
    </main>

    <%- include("../fragments/footer") %>
    </body>
</html>